div.scroll {
  overflow: auto;
  height: 50vh;
}

.search {
  position: relative;
  overflow: auto;
  height: 35vh;
}

a:link,
a:visited {
  text-decoration: underline;
}

h1 {
  padding-top: 12px;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1em;
  text-align: center;
}

h6 {
  text-align: left;
}

p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  line-height: 7mm;
  margin: 0;
  text-align: left;
}
